body {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#canvas {
  border: 10px solid #eee;
}

.control-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50px;
  color: rgb(0, 0, 0, 0.2);
}

.btn {
  position: relative;
  cursor: pointer;
}

.btn img {
  filter: invert(100%) sepia(0%) saturate(3610%) hue-rotate(202deg)
    brightness(118%) contrast(73%);
}

.btn:hover img {
  filter: invert(0%) sepia(6%) saturate(7500%) hue-rotate(288deg)
    brightness(103%) contrast(107%);
}

.btn:hover .tooltiptext {
  visibility: visible;
}

.btn .tooltiptext {
  visibility: hidden;
  background: #000;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 10px 20px;
  line-height: 30px;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  left: 0%;
  width: 80px;
  margin-left: -35px;
}

#reset .tooltiptext {
  bottom: 130%;
}

#info .tooltiptext {
  top: 120%;
}

.btn .tooltiptext::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
}

#reset .tooltiptext::after {
  top: 100%;
  border-color: black transparent transparent transparent;
}

#info .tooltiptext::after {
  bottom: 100%;
  border-color: transparent transparent black transparent;
}
