body {
  font-family: sans-serif;
}

button {
  background-color: transparent;
}

.game-stage {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#canvas {
  border: 10px solid #eee;
}

.control-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: rgb(0, 0, 0, 0.2);
}

.btn {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btn img {
  width: 50px;
  height: 50px;
}

.btn img,
.btn.disabled:hover img {
  filter: invert(100%) sepia(0%) saturate(3610%) hue-rotate(202deg)
    brightness(118%) contrast(73%);
}

.btn:hover img {
  filter: invert(0%) sepia(6%) saturate(7500%) hue-rotate(288deg)
    brightness(103%) contrast(107%);
}

.btn .tooltiptext {
  visibility: hidden;
  background: #000;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px 15px;
  line-height: 25px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  min-width: 70px;
  margin-left: 15px;
  height: 60px;
  left: 100%;
  top: -15px;
}

.btn:hover .tooltiptext {
  visibility: visible;
}

.btn .tooltiptext::after {
  content: "";
  position: absolute;
  border-width: 10px;
  margin-left: -10px;
  margin-top: -10px;
  border-style: solid;
  right: 100%;
  top: 50%;
  border-color: transparent black transparent transparent;
}

.grid-size-control {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  font-weight: bold;
}

#grid-size-options {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.grid-size {
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid black;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover,
button.current-size {
  background-color: black;
  color: white;
}

.settings-footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  width: 100%;
}

.settings-footer button {
  width: 100px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.btn.disabled,
button.disabled {
  cursor: not-allowed;
}

button.disabled,
button.disabled:hover {
  background-color: transparent;
  color: #ccc;
}
