body {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#canvas {
  border: 10px solid #eee;
  border-radius: 10px;
}

.control-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50px;
  color: rgb(0, 0, 0, 0.2);
}

.btn {
  position: relative;
  cursor: pointer;
}

.btn img,
.btn.disabled:hover img {
  filter: invert(100%) sepia(0%) saturate(3610%) hue-rotate(202deg)
    brightness(118%) contrast(73%);
}

.btn:hover img {
  filter: invert(0%) sepia(6%) saturate(7500%) hue-rotate(288deg)
    brightness(103%) contrast(107%);
}

.btn:hover .tooltiptext {
  visibility: visible;
}

.btn .tooltiptext {
  visibility: hidden;
  background: #000;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px 15px;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  min-width: 70px;
  margin-left: 15px;
  margin-top: -25%;
  left: 100%;
}

.btn .tooltiptext i {
  line-height: 12px;
  font-size: 10px;
  font-weight: normal;
  font-style: italic;
}

.btn .tooltiptext::after {
  content: "";
  position: absolute;
  border-width: 10px;
  margin-left: -10px;
  margin-top: -10px;
  border-style: solid;
  right: 100%;
  top: 50%;
  border-color: transparent black transparent transparent;
}

.btn.disabled {
  cursor: not-allowed;
}
